@import 'tailwindcss';

@theme {
	--font-sans: var(--font-geist-sans);

	--color-background: var(--color-neutral-100);
	--color-foreground: var(--color-neutral-900);

	--color-yahoo-purple: #7d2eff; /* #6001d2 */
	--color-yahoo-purple-dark: #5409b2;
	--color-yahoo-purple-light: #a7f;

	--spacing-ch: 1ch;
	--spacing-lh: 1lh;
}

@custom-variant hover (&:hover);

@layer base {
	:root {
		@media (prefers-color-scheme: dark) {
			--color-background: #000;
			--color-foreground: #fff;
		}
	}

	* {
		min-width: 0;
	}
}

/* animations */

@utility anim-fade {
	--x: 0;
	--y: 0;
	animation: anim-fade-to var(--default-transition-duration) ease-in-out
		forwards;
}
@utility anim-fade-to-l {
	@apply anim-fade;
	--x: 1rem;
}
@utility anim-fade-to-r {
	@apply anim-fade;
	--x: -1rem;
}
@utility anim-fade-to-t {
	@apply anim-fade;
	--y: 1rem;
}
@utility anim-fade-to-b {
	@apply anim-fade;
	--y: -1rem;
}

@keyframes anim-fade-to {
	from {
		opacity: 0;
		translate: var(--x, 0) var(--y, 0);
	}
}

/* utilities */

@utility overflow-fade-r {
	--offset: 2ch;
	mask: linear-gradient(
		to right,
		black 50%,
		black calc(100% - var(--offset)),
		transparent
	);
}

/* components */

@utility link {
	@apply text-yahoo-purple dark:text-yahoo-purple-light hover:underline;
}

@utility action-base {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0.5ch 1ch;
	gap: 0.5ch;

	@apply transition-colors;
}

@utility action-yahoo {
	@apply action-base bg-yahoo-purple hover:bg-yahoo-purple-dark text-white;
}
